server:
  port: 8080

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/auth/**
        - id: customer-service
          uri: lb://customer-service
          predicates:
            - Path=/customers/**
        - id: loyalty-service
          uri: lb://loyalty-service
          predicates:
            - Path=/loyalty/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
